*
!*/

!/.gitignore
!/.editorconfig
!/.gitattributes

!/.vscode/*.json

!/bun.lock
!/capacitor.config.ts
!/components.json
!/index.html
!/LICENSE.md
!/package.json
!/README.md
!/server.ts
!/tsconfig.json
!/mockups.free
!/app.config.ts
!/.android_env
!/bunfig.toml
!/release.keystore

!/docs/**
!/src/**
!/build/**
!/.devtool/**

node_modules/
android/
dist/
*.log
.env
.env.*